<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Mukodok</h1>
    <!-- <header><link href="https://fonts.googleapis.com/css?family=Lato:400,900" rel="stylesheet"></header> -->
    <% for (let i = 0 ; i < dashBoard.length ; i ++ ){ %>
    <%= dashBoard[i].city %> <%= dashBoard[i].weather[0].temp %>
    <% } %>
</body>
</html>