<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Forecast</h1>
    <header><link href="https://fonts.googleapis.com/css?family=Lato:400,900" rel="stylesheet"></header>
    <% for (let i = 0 ; i < dashBoard.length ; i ++ ){ %>
    <p><%= dashBoard[i].city %> <%= dashBoard[i].weather[i].temp %> °C</p> <img src=<%= dashBoard[i].weather[0].icon %> height=40px width=40px>
    <p><%= dashBoard[i].location %></p>
    <% } %>
</body>
</html>