body {
  font-family: 'Nunito Semibold';
  text-align: center;
}


#container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 5px;
  max-width: 700px;
  margin: 0 auto;
  /* border: 1px solid black; */

  grid-template-areas:
  "title title title title"
  "nav nav nav nav"
  "name name name price"
}
/* #one{
  grid-area: one;
  display: grid;
  grid-column: 1/4;
  grid-template-areas:
  ".1"
  ".2"
}
#two{
  grid-area: two;
  display: grid;
  grid-column: 4/5;
} */

.title{
  grid-area: title;
  justify-self: start;
  font-size: 45px;
}
.nav{
  grid-area: nav;
  justify-self: start;
  font-size: 25px;
}
.name{
  grid-area: name;
  background: black;
  color: white;
}
.price{
  grid-area: price;
  background: black;
  color: white;
}
.coctails{
  grid-area: coctails;
  background: rgb(238,238,238);
  text-align: center;
  grid-column: 1/4;
  width: 350px;
  
}
.coctails:nth-child(odd){
  grid-area: coctails;
  background: rgb(255,255,255);
  grid-column: 1/4;
  width: 350px;

  
}
.coctail-prices{
  grid-area: coctail-prices;
  background: rgb(238,238,238);
  grid-column: 1/4;

}
.coctail-prices:nth-child(odd){
  grid-area: coctail-prices;
  background: rgb(255,255,255);
  grid-column: 1/4;
}
