*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.parent {
    height: 100vh;
    border : 10px solid rgb(0, 0, 0);
    display: flex;
}

.child1 {
    width: 200px;
    height: 200px;
    background: rgb(39,61,88);
    flex : 1 1 300px;
    align-self: center;
}
.child2 {
    width: 200px;
    height: 200px;
    background: rgb(173,57,53);
    order: 0;
    flex : 1 1 300px;
}

.child3 {
    width: 200px;
    height: 200px;
    background: rgb(149,43,140);
    order: 0;
    flex : 1 1 300px;
}
.child4 {
    width: 200px;
    height: 200px;
    background: rgb(218, 215, 69);
    order: 0;
    flex : 1 1 300px;

}